.small-game-card-container {
  width: 180px; /* M치s peque침a que la de rese침as */
  border: 2px solid #000;
  background-color: #fff;
  overflow: hidden;
}

.small-game-card-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.small-game-card-info {
  padding: 0.75rem;
}

.small-game-card-info h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.small-game-card-rating {
  font-size: 0.8rem;
}

.small-game-card-rating .star-rating {
  font-size: 1rem; /* Estrellas peque침as */
}